_ReSharper*
bin/
obj/
*.suo
*.sln.cache
*.swp
*.user
*.pidb
.idea/
node_modules/
logs/
packages/
.deploy/
.vs/
settings/*
Backup*
UpgradeLog*
_UpgradeReport*
*.sln.cache
.*.swp
.nuget/NuGet.exe
!*.ReSharper.user
*.DotSettings.user
tmp
*.Frontend.*/src/*.js
*.Frontend.*/src/*.css
*.Frontend.*/src/**/*.js
*.Frontend.*/src/**/*.css
Editor.Front/Scripts/bridge
