body {
    background-color: #efefef;
    padding-bottom: 20px;
    padding-top: 50px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.editor {
    position: relative;
    border: #afafaf 15px solid;
    overflow: hidden;
}

.editor__textarea {
    font-family: Consolas, Monospace, Courier, sans-serif;
    font-size: 20px;
    height: 500px;
    margin: 0 auto;
    outline: none !important;
    resize: none;
    width: 100%;
}

.editor__cursor {
    animation: blink-cursor 1s infinite;
    background-color: #ff0000;
    height: 24px;
    position: absolute;
    width: 2px;
    z-index: 10000;
}

@-webkit-keyframes blink-cursor {
    0%, 49% {
        width: 0px;
    }

    50%, 100% {
        width: 2px;
    }
}